In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Ethereum_block.csv")

In [ ]:
df.head()

                      timestamp    number  ... transaction_count base_fee_per_gas
1544  2021-08-05 12:33:55+00:00  12965001  ...               257       1124967822
1259  2021-08-05 12:34:14+00:00  12965002  ...               321       1265451421
3033  2021-08-05 12:34:17+00:00  12965003  ...               265       1423420054
1548  2021-08-05 12:34:28+00:00  12965004  ...               280       1601260312
2693  2021-08-05 12:35:00+00:00  12965005  ...               308       1801194152

[5 rows x 19 columns]

In [ ]:
df = df.sort_values(by="number")

In [ ]:
df = df.drop(['Unnamed: 0'], axis=1)

In [ ]:
df.to_csv("Ethereum_block.csv")

In [ ]:
df_tran = pd.read_csv("Ethereum_transaction.csv")

ParserError: ignored

In [ ]:
df_tran.head()

                                                     hash  ...  receipt_effective_gas_price
140584  0xa1c82552be473b9a79d06d29f0755801194e1c877b06...  ...                 3.600000e+10
302213  0xe22c69186de6dc19cecc39a5faa57fcb7c8174ddb86d...  ...                 2.800000e+10
302212  0x338e23900b7e269ea126ea02ea95ce0951997e0778fc...  ...                 2.900000e+10
124449  0xf0729c4e401131807eaf0d0cfb347976e5029a1a6477...  ...                 1.000000e+11
124450  0xb1ebd59ee05503984f7d31d241823a885a3c63bd1470...  ...                 2.900000e+10

[5 rows x 21 columns]

In [ ]:
df_tran = df_tran.sort_values(by="block_number")

In [ ]:
df_tran = df_tran.drop(['Unnamed: 0'], axis=1)

In [ ]:
df_tran.to_csv("Ethereum_transaction.csv")